.inputBar{
	margin-top: 10%
}

.inputTextBar{
	margin-top: 10%
}

.indexText{
	text-align: center;
}
.companyText{
	text-align: center;
	color: #5f5f5f;
	font-style: italic;
}
.mys{
	color: #f1f1f1;
}