@import url(https://fonts.googleapis.com/css?family=Merienda+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


html body{
	background-color: rgb(233, 233, 240);
}

/* ---- menybaren ---- */
.navbar-inverse {
	background-color: rgb(233, 233, 240);
	font-family: arial;
}

.navbar-inverse .navbar-nav>li>a {
	color: #636363;
	margin-right: 5px;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:black;
	cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a:active{
	color:black;
}

.navbar-inverse .navbar-nav>li>a:focus{
	color:black;
}

.language{
	font-size: 17px;
	margin-top: 3px;
}

/* infoikonen*/
.infoicon{
	font-size: 22px;
	color: #636363;
}

.infoicon:hover {
	color: black;
	cursor: pointer;
}

/* ----- POPOVERN -----*/
.popover{
    width:300px;
    height:250px;   
}

.popover-title{
	color:red;
}

/* KTH course dependencies */
.appname{
	text-align: center;
	font-family: 'Merienda One', cursive;
	font-size: 50px;
}
/*intro text */
.introtext{
	font-family: 'Roboto', sans-serif;
	color:grey;
	text-align: center;
}

.inputBar{
	margin-top: 4%;
	box-shadow: 0 0 30px #888888;
	border-radius: 4px;
}

.inputTextBar{
	margin-top: 15%;
}

form{
	margin-bottom: 20px;
}

/* ---- Alternativ med sträck ---*/
.lineSearch{
	border-color:black;
}

#courseName{
	font-weight: bold;
	margin-top:6px;
	margin-bottom: 2px;
	font-size: 16px;

}

.searchExample {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.searchEx{
	color:black;
	cursor:pointer;
}

.searchEx:hover{
	text-decoration: none;
	color:#337ab7;
	cursor:pointer;
}

/* ----- Sökresultat knappar-----*/

.btnSearch{
	background-color: #424242;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border-color: grey;
}

.btnSearch:hover{
	background-color: black;
	color:white;
}

.btnSearch:focus{
	background-color: black;
	color:white;
}