<div class="container">
    <div class="row inputTextBar">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <h1 class="inputBar indexText">
                KTH<br>
                Course Dependencies
                <h4 class="indexText companyText">
                    FooCompany
                </h4>
                <h6 class="indexText mys">
                    mysmunk
                </h6>
            </h1>

            <form>
                <div class="input-group inputBar">
                    <input type="text" class="form-control" placeholder="Search for course..." #course>
                    <div class="input-group-btn">
                        <button class="btn btn-default" (click)="searchCourse(course.value)"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>