
<div class="row">
    <nav class="nav navbar-inverse navbar-static-top" id = "graphNav">
        <div class="container">
            <!-- Search -->
            <form class="navbar-form navbar-left">
                <div class="input-group inputBar">
                        <input #course type="text" autofocus class="form-control" placeholder='"SF1625", "Calculus..."' (keyup.enter)="searchCourse(course.value)">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="searchCourse(course.value)"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                </div>
            </form>

            <!-- Info and language switch -->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="language" (click)="changeLanguage()">{{texts.languageSwitch}}</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-info-sign infoicon" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </nav>

    <div class="col-md-8"><span id='tree'></span> </div>
    <div class="col-md-4"> <div id='vid-container'> <embed id='vid'/></div></div>
</div>

